.navbar {
  width: 100%;
  z-index: 1;
  background-color: rgba(24, 24, 24, 0.5);
  height: 100px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

.navbar-logo {
  float: left;
}

.navbar-link-text {
  margin-top: 22px;
  margin-left: 100px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url('./images/josp-logo.png');
}

#login, #signup {
  background-color: #70acb3;
  border-radius: 5px;
  width: 83px;
  text-align: center;
  margin: 0px 10px;
}

p.navbar-link-text {
  color: white;
}

a#portfolio, a#services, a#contact {
  color: white;
}

a#portfolio:hover, a#services:hover, a#contact:hover, p.navbar-link-text:hover {
  color: #70acb3;
}